html, body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Road Rage', cursive;
}

* {
    font-size: x-large;
}

.header {
    padding: 20px;
    background-color: rgba(133, 164, 194, 0.3);
}

.header-menu {
    letter-spacing: 3px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.header-menu a {
    color: white;
    text-decoration: none;
}